<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
</head>
<body>
<h1>Products</h1>
<table border="1px" width="50%">
    <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.code}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/productMaint1/updateProduct/{code}(code=${product.code})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/productMaint1/deleteProduct/{code}(code=${product.code})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/productMaint1/addProduct}">
    <input type="submit" value="Add Product">
</form>
</body>
</html>
